@use "../../base/colors";
@use "../../base/fonts";

.navigation__desktop {
  width: 100%;
  height: 15vh;

  padding: 2rem;

  background-image: colors.$gradient-primary;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease-in;

  .navigation__logo {
    font-family: "PlayFair";
    font-size: 3.5rem;
    font-weight: 500;
    color: colors.$color-white;
    text-decoration: none;

    padding: 0 2rem;
  }

  .navigation__links--desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;

    .navigation__link--desktop {
      font-size: 2rem;
      font-weight: 600;
      font-family: "Source Sans Pro";

      a {
        padding: 1rem;
        margin: 0 1rem;

        color: colors.$color-white-smoke;
        text-decoration: none;

        transition: all 0.2s linear;

        &:hover,
        &:active {
          color: colors.$color-white;
          transform: scale(1.04);
        }
      }
    }
  }
}
